*{
    padding: 0;
    margin: 0;
}

h1{
    padding: 20px;
    text-align: center;
    background-color: black;
    color: azure;
}

.subtitulo{
    background-color: gray;
}
.subtitulo2{
    background-color: aquamarine;
}